<section class="mt-4">
  <hr />
  <div class="container">
    <div class="row tw-mt-[50px] tw-bg-slate-100 d-flex align-items-center">
      <div class="col-md-4">
        <ul>
          <li>
            <span>خدمات مشتریان</span>
          </li>
          <li>
            <span>شرایط بازگشت و تعویض کالا</span>
          </li>
          <li>
            <span>درباره ما</span>
          </li>
          <li>
            <span>ارتباط با ما</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <span>ارتباط با ما</span>
          </li>
          <li>
            <span>گلستان -گرگان -گلشهر 33</span>
          </li>
          <li>
            <span>تلفن پشتیبانی: 6232_425_0911</span>
          </li>
          <li>
            <span>ایمیل پشتیبانی: infosajadcameron@gmail.com</span>
          </li>
        </ul>
      </div>
      <div
        class="col-md-4 d-flex justify-content-center align-items-center flex-column"
      >
        <span> نماد اعتماد الکترونیکی کمرون</span>
        <img
          style="height: 100px"
          src="../../assets/image/eatemadlogo.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="border-bot"></div>
</section>
