<section class="">
  <div class="container tw-bg-white mb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <img
            style="height: 450px"
            src="../../../assets/image/pageproductbox1.jpg"
            alt=""
          />
        </div>
        <div class="d-flex gap-1 mt-1 mb-2">
          <img src="../../../assets/image/down.jpg" alt="" />
          <img src="../../../assets/image/down.jpg" alt="" />
          <img src="../../../assets/image/down.jpg" alt="" />
          <img src="../../../assets/image/down.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="d-flex align-items-center bor pb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            />
          </svg>
          <span class="fs-5">پلوشرت مردانه کد 1074</span>
        </div>
        <div class="d-flex align-items-center gap-4 mt-2">
          <div class="d-flex align-items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-basket"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"
              />
            </svg>
            <span class="text-muted"
              >دسته‌بندی‌ها: محصولات کمرون, تیشرت/ پلوشرت, مردانه</span
            >
          </div>
          <div class="d-flex align-items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
              />
              <path
                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
              />
            </svg>
            <span class="text-muted">تعداد بازدید: 222 بازدید</span>
          </div>
        </div>
        <div class="mt-4 d-flex flex-column">
          <span class="">ویژگی های محصول:</span>
          <span class="mt-2">جنس: جودون</span>
          <span class="mt-2">نحوه شست شو: دستی/ماشینی</span>
          <span class="mt-2">نحوه بسته شدن: دکمه</span>
        </div>
        <div class="tw-mt-[30px]">
          <span class="text-danger fw-bold fs-4">۳۵۹,۰۰۰ تومان</span>
        </div>
        <div class="d-flex mt-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-cart3 tw-bg-zinc-500"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
          </svg>
          <span class="tw-bg-zinc-500 text-white">افزودن به سبد خرید</span>
        </div>
        <div class="mt-4">
          <span class="tw-bg-rose-500 text-white py-2 px-2"
            >راهنمای انتخاب سایز</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
