<div class="container tw-bg-white">
  <div class="d-flex flex-column text-muted">
    <span class="text-dark fs-5">پلوشرت مردانه کد 1074</span>
    <span>نخور عالی و با ضمانت کالا</span>
    <span>مورد استفهاده: روزمره، رسمی و مهمانی</span>
    <span
      >مدل با قد 185 سانتی متر و وزن 80 کیلوگرم و سایز XL را پوشیده است.</span
    >
  </div>
  <div class="mt-5 d-flex flex-column text-muted">
    <span class="text-dark fs-5">پولوشرت چیست؟</span>
    <span
      >در واقع به تیشرتی که دارای یقه باشد، پولوشرت (polo shirt) گفته می شود.
      پلوشرت ها دارای یقه های برگردان و دکمه دار هستند که تعداد دکمه در آن ها
      متفاوت است. اکثر ورزشکاران بخصوص ورزشکارانی که در رشته گلف، تنیس و</span
    >
    <span
      >چوگان فعالیت می کنند از پولوشرت استفاده می نمایند به همین خاطر به
      پولوشرت، تی شرت تنیس یا تی شرت چوگان نیز می گویند.</span
    >
    <span
      >لازم است بدانید که برخی از پولوشرت ها دارای جیب و برخی فاقد جیب هستند. از
      این رو انتخاب نوع آن به شما بستگی دارد.</span
    >
    <span
      >در واقع می توان گفت که پلوشرت ها بهترین گزینه برای داشتن یک استایل شیک و
      جذاب کژوال و راحت مردانه می باشند.</span
    >
    <span
      >در واقع می توان گفت که پلوشرت ها بهترین گزینه برای داشتن یک استایل شیک و
      جذاب کژوال و راحت مردانه می باشند.</span
    >
  </div>
  <div class="mt-5 d-flex flex-column text-muted">
    <span class="text-dark fs-5">نکات کلیدی برای ست کردن پولوشرت</span>
    <span
      >همانطور که گفته شد، پولوشرت دارای استایلی نیمه رسمی است که شما می توانید
      از آن در قرارهای کاری و جلسات رسمی نیز استفاده کنید. اما استفاده از
      پولوشرت به عنوان استایلی رسمی، در گرو رعایت نکات زیر می باشد.</span
    >
    <span
      >همانطور که گفته شد، پولوشرت دارای استایلی نیمه رسمی است که شما می توانید
      از آن در قرارهای کاری و جلسات رسمی نیز استفاده کنید. اما استفاده از
      پولوشرت به عنوان استایلی رسمی، در گرو رعایت نکات زیر می باشد.</span
    >
  </div>
</div>
